{% extends 'base.html' %} 

{% block title %} {{ post.title }} {% endblock %} 

{% block content %}
  <div class="container">
    <article>
      <header>
        <h1>{{ post.title }}</h1>
        <p class="text-muted">By: {{ post.author.first_name }} {{ post.author.last_name }} | Posted on: {{ post.post_date }}</p> 
      </header>
      <hr />
      <div class="content">
        {{ post.body}}  <!-- Use | safe if the body contains HTML content -->
      </div>
      <br />
      <br />
      <div class="text-center">
        <a href="#" onclick="history.back()" class="btn btn-secondary">Back</a>
        <small class="ml-2"><a href="{% url 'update' post.pk %}" class="btn btn-primary">Edit Post</a></small>
      </div>
    </article>
  </div>
  <br/><br/>
  <hr>
  <br/>
  <form action="{% url 'like_post' post.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm"> {{ total_likes }} Like</button>
  </form>
{% endblock %}
